PORT=8080
MONGO_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@codeide.com

# SMTP Settings (for password reset and emails)
SMTP_HOST=smtp.mailtrap.com
SMTP_PORT=2525
SMTP_USER=your_smtp_user_here
SMTP_PASSWORD=your_smtp_password_here

# Cloudinary Settings (for media uploads)
CLOUDINARY_NAME=your_cloudinary_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
